---
permalink: rss.xml
layout:
eleventyExcludeFromCollections: true
metadata:
    title: JetBrains Guides
    description: Be more productive and write high-quality code faster with a series of tips and tricks.
    language: en
    url: https://www.jetbrains.com/
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{site.siteTitle}} - {{ metadata.title }}</title>
    <link>{{ metadata.url }}</link>
    <atom:link href="{{ permalink | absoluteUrl(metadata.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ metadata.description }}</description>
    <language>{{ metadata.language }}</language>
    {%- for post in collections.all | sort(true, true, 'post.date') %}{% if post.data.author %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</description>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <guid>{{ absolutePostUrl }}</guid>
    </item>{% endif %}{%- endfor %}
  </channel>
</rss>